---
import { SITE } from "@config";

const {
    title,
    description,
    author = SITE.author,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;

const siteTitle = title ?? SITE.title;
const metaDescription = description ? description : SITE.desc;
const metaKeywords = keywords ? keywords : SITE.keywords;
const siteURL = url ?? SITE.siteUrl;
const twitterHandle = twitterhandle ?? "@your-handle";
const imagePreview = image ?? `${siteURL}${SITE.ogImage}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Twitter -->
<meta name="twitte:card" content="summary_large_image" />
<meta name="twitter:creator" content={twitterHandle} />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imagePreview} />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={siteURL} />
<meta property="og:image" content={imagePreview} />
<meta property="og:site_name" content={siteURL} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={metaDescription} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
<meta name="keywords" content={metaKeywords} />
<meta name="author" content={author} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Theme Meta Tags -->
<meta name="msapplication-TileColor" content="#00aba9" />
<meta name="theme-color" content="#ffffff" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="robots" content="index" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
