---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SEO from "@/components/seo/SEO.astro";
import Header from "@/components/Header.astro";
import { SOCIALS } from "@config";
import Footer from "@/components/Footer.astro";
import footerNavData from "@/data/footerNavData.json";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={`main relative overflow-hidden ${className && className}`}>
            <Header />
            <slot />
            <Footer footerNavData={footerNavData} />
        </main>
    </body>
</html>
